name: mongodb-service
version: '3.8'

services:
  mongodb:
    image: mongo:8.2.1
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=password
      - MONGO_INITDB_DATABASE=mongodb
    volumes:
      - mongodb_data:/data/db

  nginx:
    image: nginx:1.29.3
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    
    
  redis:
    image: redis:8.2.3
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data


volumes:
  mongodb_data:
  redis_data: